body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #AD46FF, #05DF72 );
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #AD46FF;
    transition: 0.5s;
}

.username input:focus ~ label{
    top: -5px;
    color:#AD46FF;
}

.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    background: #AD46FF;
    border-radius: 25px;
    font-size: 18px;
    color: white;
}
